@import "tailwindcss";
@import "tw-animate-css";


* {
  margin: 0;
  padding: 0px;
  scroll-behavior: smooth;
  scroll-padding: 10svh;
}

:root {
  font-family: RadioCanadaBig;
  color: rgba(255, 255, 255);
  background-image: linear-gradient(to "#313131");
  background: #313131;
    background: linear-gradient(90deg, rgba(49, 49, 49, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

}

@font-face {
  font-family: 'BigNoodle';
  src: url('./assets/fontes/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RadioCanadaBig';
  src: url('./assets/fontes/RadioCanadaBig-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RadioCanada';
  src: url('./assets/fontes/RadioCanada-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Header */
nav {
  display: flex;
  padding: 0rem 2svw;
  height: 10svh;
  z-index: 10;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: auto;
  align-items: center;
  background-color: #fff;
}

.container__redes-sociais {
  display: flex;
  justify-content: start;  
  gap: .5rem;
}

.link__rede img {
  filter: invert(100%);
  transition: .5s ease-in-out;
}

.link__rede:hover img {
  transform: translateY(5px);
}

.logo__corinthians {
  mix-blend-mode: difference;
  width: 100%;
  max-width: 100px;
  filter:invert(1);
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 2.5svh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@media (min-height: 800px) {
  .logo__corinthians {
    top: 5svh;
  }
}

.container__links {
  display: flex;
  gap: 1.5rem;
  font-family: BigNoodle;
  align-items: center;
}

.item__link a {
  text-decoration: none;
  font-size: 20px;
  color: #242424;
}

/* Main */

main {
  padding: 0svw 2svw;
  margin-top: 10svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80svh;
}

.main__title {
  font-size: 100px;
  font-family: BigNoodle;
  max-width: 500px;
}

.main__subtitle {
  font-family: BigNoodle;
  color: #B5B5B5;
  font-weight: 500;
}

.main__image {
  width: 60svw;
  top: -10svh;
  height: auto;
  position: sticky;
  filter: drop-shadow(0px 0px 25px #242424);
  position: absolute; right: 0;
  z-index: -1;
}

/* Partidas */

.main__partidas {
  margin-top: 1rem;
  display: flex;
  position: sticky; 
  right: 0;
  top: 0;
  font-family: BigNoodle;
  z-index: -1;
  max-width: max-content;
  flex-direction: column;
  gap: 1rem;
}

.badge__partida {
  background-color: #fff;
  position: relative;
  color: #242424;
  display: flex;
  padding: 1rem 1rem;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
}

.icon__competicao {
  position: absolute;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  height: 25px;
  gap: .5rem;
  background-color: #800000;
  color: #fff;
  border-radius: 9px 0px 10px 0px;
  font-size: 15px;
  padding: 0rem  .5rem;
}

.icon__competicao img {
  width: 18px;
  object-fit: cover;
}

.time-1 img,
.time-2 img {
  object-fit: cover;
}

.info__times, .time-1, .time-2 {
  display: flex; align-items: center;
  gap: .5rem;
  padding-top: 0rem;

  font-size: 25px;
}

.data-local {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-top: 1rem;
}

.data {
  font-size: 24px;
}

.local {
  color: #808080;
font-size: 15px;}

.text__expandir {
  font-family: RadioCanadaBig;
}

.main__faixa {
  width: 100%;
  top: 10svh;
  position: relative;
}

/* História */

.accordion__historia {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  interpolate-size: allow-keywords;
  font-size: 2rem;
}

.accordion__historia:focus-visible {
  outline: 1px solid #ccc;
  border-radius: 5px;
  padding: .5rem 1rem;
}

.accordion__cotent {
  height: auto;
  interpolate-size: allow-keywords;
}

.container__historia {
  margin-top: 5rem;
  padding: 2svw;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: start;
}

.container__title {
  font-size: 100px;
  font-weight: 400;
  font-family: BigNoodle;
  margin-bottom: 2rem;
}

.container__texts__historia {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  position: relative;
}

.container__texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 45%;
  /* 45% para espaço lateral */
}

.image__historia {
  position: sticky;
  top: 10svh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  /* apenas o necessário */
  z-index: 0;
}

.text__title {
  font-weight: 400;
  font-family: BigNoodle;
  font-size: 32px;
}

.group__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: RadioCanada;
  text-align: start;
  font-size: 20px;
}

.separacao {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 200vh;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(43, 43, 43) 0%, rgba(0, 0, 0, 1) 100%);
  border: 1px #fff solid;
  filter: drop-shadow(0px 0px 5px rgba(116, 116, 116, 0.479));
  z-index: -2;
}

.logo__separacao {
  position: absolute;
  padding: 5px;
  width: 40px;
  height: 40px;
  top: 0svh;
  background-color: #242424;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  user-select: none;
  text-align: center;
  font-family: BigNoodle;
}

.logo__separacao img {
  width: 20px;
  object-fit: cover;
  filter: invert(10%);
  z-index: 0;
  position: absolute;
  pointer-events: none;
}

.footer__texts__historia {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  gap: 2svh;
}

.historia__subtitle {
  font-family: BigNoodle;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  letter-spacing: .5px;
  color: #ccc;
}

.footer__texts__historia hr {
  width: 1svw;
}

.historia__link {
  font-family: RadioCanada;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff0000;
  transition: .5s;
}

.historia__link:hover {
  color: #a10000;
}

/*  */

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 0 0;
  width: 100%;
}

.timeline__item {
  width: 50%;
  margin: 4svh 0;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
}

.timeline__item__title {
  font-family: BigNoodle;
  font-size: 2rem;
}

.timeline__item:active {
  outline: none;
}

.timeline:last-child .timeline__item{
  margin-top: 0;
  margin-bottom: 4svh;
}

.timeline__item.left {
  text-align: start;
  left: 0;
}

.timeline__item.right {
  text-align: start;
  color: #242424;
  background-color: #fff;
}

.historia__container__image {
  position: absolute;
  right: 0px;
  height: 100%;
}

.historia__image {
  width: 40svw;
    top: 10px;
    height: auto;
    position: sticky;
    filter: drop-shadow(0px 0px 25px #242424);

    z-index: -1;
  }

/* Postagens */
.toast__whatsapp {
  background-color: #202C33;
  border: 1px solid #2A3942;
  border-radius: 12px;
  display: flex;
  margin-top: 10svh;
  align-items: center;
  gap: 0.75rem;
  height: auto;
  margin-bottom: 10svh;
  padding: 0.75rem;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.toast__whatsapp img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.toast__whatsapp__texts {
  display: flex;
  flex-direction: column;
}

.toast__whatsapp__texts span {
  color: white;
  font-weight: 500;
  letter-spacing: 1.1px;
  font-family: BigNoodle;
}

.toast__whatsapp__texts p {
  color: #D1D7DB;
  font-size: 0.9rem;
  font-family: RadioCanada;
  margin: 0;
}

.button {
  cursor: pointer;
}

/* .button__trigger__top {
  position: sticky;
  bottom: 2svh;
  cursor: pointer;
  left: 91svw;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #460202;
  padding: 20px;
  border-radius: 50px;
} */

.botao-topo {
  position: fixed;
  bottom: 2svh;
  cursor: pointer;
  right: 5svw;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202C33;
  padding: 20px;
  transition: ease-in-out .5s;
  border-radius: 50px;
}

.botao-topo.oculto {
  opacity: 0;
  pointer-events: none;
  /* não clicável quando invisível */
}

.botao-topo:hover {
  background: #5f0000;
}

.button__trigger {
  position: sticky;
  bottom: 2svh;
  cursor: pointer;
  left: 98svw;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202C33;
  padding: 20px;
  transition: ease-in-out .5s;
  border-radius: 50px;
}

.button__trigger:hover {
  background-color: #161f24;
}

.container__posts {
  position: absolute;
  width: 35svw;
  line-height: 1.2;
  height: 100%;
  gap: 1rem;
  display: flex;
  right: 2svw;
}

.timeline__posts {
  display: flex;
  flex-direction: column;
  gap: 50svh;
}

.container__posts .card {
  max-height: 500px;
  font-weight: 300;
  gap: 1rem;
  position: relative;
  font-size: 15px;
  max-width: 500px;
}

.container__posts .card:last-child {
  position: sticky;
  top: 20svh;
}


.card.post__left {
  text-align: center;
  left: 0;
  min-width: 300px;
  margin-left: 10svw;
  margin-bottom: 0;
}

.image__postagem {
  position: absolute;
  left: 0;
  height: 50px;
  background-color: #fff;
  z-index: 1;
  padding: 5px;
  height: 50px;
  border: 5px solid #242424;
  border-radius: 0px 10px 0px 10px;
  bottom: 0;
}

.image__postagem img {
  border-radius: 10px;
}

.card__header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__hashtag {
  font-size: 14px;
  gap: 1rem;
  font-family: RadioCanada;
  font-weight: 500;
}

.card .card__header .card__image {
  max-height: 500px;
  min-width: 300px;
  max-width: 25svw;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: #242424 0px 0px 50px;
  width: auto;
}

.card__title {
  font-family: RadioCanada;
}

.card__badge {
  position: absolute;
  bottom: 1rem;
  display: flex;
  left: 1rem;
  align-items: start;
  gap: .5rem;
}

.card__image-wrapper .card__badge img {
  width: 25px;
}

.post__like {
  max-width: auto;
}

.card__image-wrapper {
  background: linear-gradient(90deg, #313131, #ffffff);
  /* Gradiente da borda */
  padding: 4px;
  /* Espessura da borda */
  position: relative;
  width: min-content;
  display: inline-block;
  border-radius: 12px;
  /* se quiser arredondado */
}

.card__image {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}