@import "tailwindcss";
@import "tw-animate-css";


* {
  margin: 0;
  padding: 0px;
  scroll-behavior: smooth;
  scroll-padding: 10svh;
}

:root {
  font-family: RadioCanadaBig;
  color: rgba(255, 255, 255);
  background-image: linear-gradient(to "#313131");
  background: #313131;
    background: linear-gradient(90deg, rgba(49, 49, 49, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

}

@font-face {
  font-family: 'BigNoodle';
  src: url('./assets/fontes/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RadioCanadaBig';
  src: url('./assets/fontes/RadioCanadaBig-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RadioCanada';
  src: url('./assets/fontes/RadioCanada-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Header */
nav {
  display: flex;
  padding: 0rem 2svw;
  height: 10svh;
  z-index: 10;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: auto;
  align-items: center;
  background-color: #fff;
}

.container__redes-sociais {
  display: flex;
  justify-content: start;  
  gap: .5rem;
}

.link__rede img {
  filter: invert(100%);
  transition: .5s ease-in-out;
}

.link__rede:hover img {
  transform: translateY(5px);
}

.logo__corinthians {
  mix-blend-mode: difference;
  width: 100%;
  max-width: 100px;
  filter:invert(1);
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 2.5svh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@media (min-height: 800px) {
  .logo__corinthians {
    top: 5svh;
  }
}

.container__links {
  display: flex;
  gap: 1.5rem;
  font-family: BigNoodle;
  align-items: center;
}

.item__link a {
  text-decoration: none;
  font-size: 20px;
  color: #242424;
}

/* Separação */
.separacao {
  display: flex;
  width: auto;
  margin: 5svh 2svw;
  overflow-x: hidden;
  flex-wrap: nowrap;
  gap: 10px;
}

.separacao::selection {
  background-color: transparent;
}

.image__logo {
  width: 25px;
  height: auto;
}

.invertida {
  filter: invert(1);
}

/* Main */

main {
  padding: 0svw 2svw;
  margin-top: 5svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  font-size: 100px;
  font-family: BigNoodle;
  max-width: 500px;
}

.main__subtitle {
  font-family: BigNoodle;
  color: #B5B5B5;
  font-weight: 500;
}

.main__image {
  width: 60svw;
  top: -10svh;
  height: auto;
  position: sticky;
  filter: drop-shadow(0px 0px 25px #242424);
  position: absolute; right: 0;
  z-index: -1;
}

/* Partidas */

.main__partidas {
  margin-top: 1rem;
  display: flex;
  position: sticky;
  right: 0;
  width: 100%;
  justify-content: start;
  align-items: start;
  top: 0;
  font-family: BigNoodle;
  z-index: -1;
  max-width: max-content;
  flex-direction: column;
  gap: 1rem;
}

.badge__partida {
  background-color: #fff;
  position: relative;
  color: #242424;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2svh 4svw;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
}

.info__times {
  margin: 1rem 0rem;
}

.icon__competicao {
  position: absolute;
  top: 1svh;
  left: .4rem;
  display: flex;
  align-items: center;
  height: 25px;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  flex: 1;
  gap: .5rem;
  background-color: #242424;
  color: #fff;
  border-radius: 7px;
  text-align: center;
  padding: 0rem .5rem;
}

.icon__competicao img {
  width: 18px;
  object-fit: cover;
}

.separacao__div {
  background-color: #202C33;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.time-1 img,
.time-2 img {
  width: 50px;
  object-fit: cover;
}

.info__times,
.time-1,
.time-2, .main__partida, .container__time {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-top: 0rem;

  font-size: 25px;
}

.main__partida {
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.data-local {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.data {
  color: #2A3942;
  font-size: 24px;
}

.local {
  color: #808080;
  font-size: 15px;
}

.text__expandir {
  font-family: RadioCanadaBig;
}

.main__faixa {
  width: 100%;
  top: 10svh;
  position: relative;
}

.footer__partida {
  flex-direction: column;
  display: flex;
  justify-content: end;
  align-items: end;
}


/* História */

.accordion__historia {
  display: flex;
  justify-content: space-between;
  font-family: BigNoodle;
  width: 100%;
  align-items: center;
  interpolate-size: allow-keywords;
  font-size: 1.5rem;
}

.accordion__historia:focus-visible {
  outline: 1px solid #ccc;
  border-radius: 5px;
  padding: .5rem 1rem;
}


.container__historia {
  margin-top: 5rem;
  padding: 2svw;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: start;
}

.container__title {
  font-size: 100px;
  font-weight: 400;
  font-family: BigNoodle;
  margin-bottom: 2rem;
}

.container__texts__historia {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  
  position: relative;
}

.container__texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 45%;
  /* 45% para espaço lateral */
}

.image__historia {
  position: sticky;
  top: 10svh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  /* apenas o necessário */
  z-index: 0;
}

.text__title {
  font-weight: 400;
  font-family: BigNoodle;
  font-size: 32px;
}

.group__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: RadioCanada;
  text-align: start;
  font-size: 20px;
}

.footer__texts__historia {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  gap: 2svh;
}

.historia__subtitle {
  font-family: BigNoodle;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  letter-spacing: .5px;
  color: #ccc;
}

.footer__texts__historia hr {
  width: 1svw;
}

.historia__link {
  font-family: RadioCanada;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff0000;
  transition: .5s;
}

.historia__link:hover {
  color: #a10000;
}

/*  */

.timeline {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

.timeline__item {
  width: 50%;
  overflow-x: hidden;
  font-family: RadioCanada;
  margin: 4svh 0;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
}

.timeline__item__title {
  font-family: BigNoodle;
  font-size: 1.5rem;
}

.timeline__item:active {
  outline: none;
}

.timeline:last-child .timeline__item{
  margin-top: 0;
  margin-bottom: 4svh;
}

.timeline__item.left {
  text-align: start;
  left: 0;
}

.timeline__item.right {
  text-align: start;
  color: #242424;
  background-color: #fff;
}

.historia__container__image {
  position: absolute;
  right: 0px;
  height: 100%;
}

.historia__image {
  width: 40svw;
    top: 10px;
    height: auto;
    position: sticky;
    filter: drop-shadow(0px 0px 25px #242424);

    z-index: -1;
  }

/* Postagens */
.toast__whatsapp {
  background-color: #202C33;
  border: 1px solid #2A3942;
  border-radius: 12px;
  display: flex;
  margin-top: 10svh;
  align-items: center;
  gap: 0.75rem;
  height: auto;
  margin-bottom: 10svh;
  padding: 0.75rem;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.toast__whatsapp img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.toast__whatsapp__texts {
  display: flex;
  flex-direction: column;
}

.toast__whatsapp__texts span {
  color: white;
  font-weight: 500;
  letter-spacing: 1.1px;
  font-family: BigNoodle;
}

.toast__whatsapp__texts p {
  color: #D1D7DB;
  font-size: 0.9rem;
  font-family: RadioCanada;
  margin: 0;
}

.button {
  cursor: pointer;
}

/* .button__trigger__top {
  position: sticky;
  bottom: 2svh;
  cursor: pointer;
  left: 91svw;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #460202;
  padding: 20px;
  border-radius: 50px;
} */

.container__actions {
  position: sticky;
  left: 94svw;
  display: flex;
  gap: .5rem;
  text-align: center;
  width: fit-content;
  bottom: 2svh;
}

.botao-topo {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202C33;
  padding: 20px;
  transition: ease-in-out .5s;
  border-radius: 50px;
}

.botao-topo.oculto {
  opacity: 0;
  pointer-events: none;
  /* não clicável quando invisível */
}

.botao-topo:hover {
  background: #5f0000;
}

.button__trigger {
  cursor: pointer;
  margin-left: auto;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202C33;
  padding: 20px;
  transition: ease-in-out .5s;
  border-radius: 50px;
}

.button__trigger:hover {
  background-color: #161f24;
}

.container__posts {
  position: absolute;
  width: 35svw;
  line-height: 1.2;
  height: 100%;
  gap: 1rem;
  display: flex;
  right: 2svw;
}

.timeline__posts {
  display: flex;
  flex-direction: column;
  gap: 50svh;
}

.container__posts .card {
  max-height: 500px;
  font-weight: 300;
  gap: 1rem;
  position: relative;
  font-size: 15px;
  max-width: 25svw;
}

.container__posts .card:last-child {
  position: sticky;
  top: 15svh;
}


.card.post__left {
  text-align: center;
  left: 0;
  min-width: 300px;
  margin-left: 10svw;
  margin-bottom: 0;
}

.image__postagem {
  position: absolute;
  left: 0;
  height: 50px;
  background-color: #fff;
  z-index: 1;
  padding: 5px;
  height: 50px;
  border: 5px solid #242424;
  border-radius: 0px 10px 0px 10px;
  bottom: 0;
}

.image__postagem img {
  border-radius: 10px;
}

.card__header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__hashtag {
  font-size: 14px;
  gap: 1rem;
  font-family: RadioCanada;
  font-weight: 500;
}

.card .card__header .card__image {
  max-height: 500px;
  min-width: auto;
  max-width: 25svw;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: #242424 0px 0px 50px;
  width: auto;
}

.card__title {
  font-family: RadioCanada;
}

.card__badge {
  position: absolute;
  bottom: 1rem;
  display: flex;
  left: 1rem;
  align-items: start;
  gap: .5rem;
}

.card__image-wrapper .card__badge img {
  width: 25px;
}

.post__like {
  max-width: auto;
}

.card__image-wrapper {
  background: linear-gradient(90deg, #313131, #ffffff);
  /* Gradiente da borda */
  padding: 4px;
  /* Espessura da borda */
  position: relative;
  width: min-content;
  display: inline-block;
  border-radius: 12px;
  /* se quiser arredondado */
}

.card__image {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Títulos */

.container__titulos {
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: start;
}

.container__titulos__title {
  padding: 2svw;
  font-size: 100px;
  font-weight: 400;
  font-family: BigNoodle;
  margin-bottom: 2rem;
}

.list__titulos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container__titulo {
  align-items: center;
  max-width: auto;
  padding: 2svw;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.container__titulo, .container__image {
  display: flex;
  justify-content: space-between;
}

.titulo__texts {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  height: 100%;
  font-family: BigNoodle;
}

.titulo__title {
  font-size: 100px;
  font-weight: 500;
}

.titulo__years {
  font-size: 50px;
  max-width: 50svw;
}

.image__titulo, .image__titulo_2 {
  height: 300px;
  max-width: 200px;
  width: 100%;
  object-fit: cover;
}

 .container__image {
  gap: 4rem;
}

/* Elenco */

.container__elenco__title, .posicao__title {
    font-size: 100px;
    font-weight: 400;
    font-family: BigNoodle;
}

.elenco__header {
  font-weight: 400;
  font-family: BigNoodle;
  justify-content: space-between;
  padding: 2svw;
  display: flex;
  align-items: center;

}

.elenco__main {
  display: flex;
  flex-direction: column;
  gap: 10svh;
}

.group__action {
  font-size: 50px;
  display: flex;
  gap: 1rem;
}

.group__action .action__fem{
  color: #B5B5B5;
}

.container__posicao {
  padding: 5svh;
}

.list__jogadores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: calc(300px * 5 + 2svw);
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
}
.item__jogador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.badge__jogador {
  font-family: BigNoodle;
  font-weight: 500;
  font-size: 50px;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -10px 0px 0px #ddd;
}

/* Notícias */

.container__noticias {
  padding: 2svw;
  font-family: radioCanada;
}

.container__noticias__title {
  font-size: 100px;
  font-weight: 400;
  font-family: BigNoodle;
}

.feed__noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50svw, 1fr));
  max-width: calc(50svw * 2 + 1rem);
  gap: 10svh;
}

.card__noticia {
  display: flex;
  gap: 2rem;
    height: fit-content;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.card__noticia img {
  z-index: 9;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.noticia__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  font-family: BigNoodle;
}

.noticia__subtitle p {
  color: #808080;
  margin-bottom: 1rem;
}

.noticia__paragraph {
  max-width: 50svw;
}


.texts__noticia {
  display: flex;
  padding: 2rem 2rem 2rem 0rem;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo__noticia {
  flex: 1;
}

.actions__creditos{
  justify-content: start;
  height: fit-content;
  margin-top: 2rem;
  align-items: end;
}

.actions {
  display: flex;
  gap: 1rem;
  padding: 0 2svw;
}

.actions img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/* Footer */

.container__footer {
  position: relative;
  max-height: 500px;
  height: fit-content;
  display: flex;
  overflow: visible;
  /* deixa a imagem aparecer fora do container */
}

.footer__image {
  width: 30svw;
  left: -5svw;
  position: absolute;
  top: -10svh;
  /* ajusta para sair mais ou menos */
  filter: drop-shadow(0px 0px 25px #242424);
  right: 0;
  z-index: -1;
}

.footer__texts{
  position: absolute;
  right: 2svw;
  top: 20svh;
}

.footer__title {
  font-family: BigNoodle;
  font-weight: 500;
  font-size: 50px;
}

.footer__description {
  max-width: 70%;
  text-wrap: wrap;
}

/* Moblie */

@media (max-width: 768px) {
  /* Header Moblie*/

  .container__redes-sociais {
    display: none;
  }

  .barra__navegacao {
    padding: 0svw 4svw;
  }

  .container__links {
    justify-content: end;
    width: 100%;
  }

  /* .logo__corinthians {
    Versão logo duas cores e centralizada
    width: 50px;
    top: 6.5svh;
  } */

   .logo__corinthians {
    width: 40px;
    left: 0;
    top: 0;
    position: relative;
    transform: translate(0%);
   }

   /* Main */
   main {
    padding: 0svh 4svw;
    margin-top: 2svh;
    position: relative;
      overflow: hidden;
   }

     .main__image {
      width: 100%;
        /* ou um valor que não ultrapasse */
        max-width: 60vw;
        /* limita o máximo */
        height: auto;
        position: absolute;
        top: 0;
        /* sem deslocar pra cima */
        right: 0;
        filter: drop-shadow(0px 0px 25px #242424);
        z-index: -1;
        clip-path: inset(0);
     }

   .main__texts {
    max-width: 50svw;

   }

   .main__title {
    font-size: 50px;
   }

   .main__image {
      width: 60svw;
      top: -5svh;
      right: -10svw;
   }

   .main__partidas {
    max-width: 100%;
    gap: 1rem;
    width: 100%;
   }

  .badge__partida {
    background-color: #fff;
      position: relative;
      color: #242424;
      display: flex;
      width: 100%;
      flex: 1;
      justify-content: center;
      padding: 1rem .5rem;
      border-radius: 10px;
      align-items: center;
      gap: 1rem;
  }

  .data, .time-1, .time-2 {
    font-size: 18px;
  }

  .icon__competicao {
    justify-content: center;
    margin: 0 auto;
    top: 0;
    height: 40px;
    left: 0;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    background-color: #242424;
  }
  
  .info__times {
    align-items: center;
    padding-top: 40px;
    justify-content: center;
    height: 100%;
    display: flex;
    width: 100%;
  }


  .data-local {
    width: 100%;
  }

  .container__time {
    width: 100%;
  }

  .main__partida {
    display: flex;
    gap: .5rem;
    padding: 0rem;
    flex-direction: column;
  }

  .separacao__div {
    width: 50%;
    background-color: #ccc;
    height: 1px;
  }

  .footer__partida {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* História */
  .container__historia {
    padding: 0svh 4svw;
  }

  .container__title {
    font-size: 50px;
  }
  /* .card__image-wrapper img {
    min-width: 10px !important;
    width: 10px;
    max-width: 10svw !important;
  }

  .image__postagem {
    width: 30px;
    height: 30px;
  }

    .timeline__item {
      width: 80svw;
    }

    .card.post__left {
      text-align: center;
        right: 0;
        min-width: 300px;
        margin-left: 25svw;
        margin-bottom: 0;
    } */

  .container__posts {
    display: none;
  }

  .timeline__item {
    width: 100%;
    font-size: 16px;
    font-family: RadioCanada;
    font-weight: 300;
  }

  .accordion__historia {
    font-family: BigNoodle;
  }

  .timeline {
    width: 100%;
  }

  .historia__link {
    font-size: 12px;
    letter-spacing: normal;
  }

  /* Títulos */

  .container__titulos__title {
    font-size: 50px;
    padding: 4svw;
  }

  .titulo__texts {
      padding: 4svw;
  }

  .container__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .titulo__title {
    font-size: 20px;
  }

  .titulo__years {
    font-size: 20px;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .image__titulo, .image__titulo_2 {
    width: 20svw;
    height: 15svh;
    object-fit: cover;
  }

  .container__image {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  /* Elenco */

  .container__elenco {
    padding: 0svh 4svw;
  }

  .container__elenco__title {
    font-size: 50px;
  }

  .group__action {
    font-size: 25px;
  }

  /* Notícias */

  .container__noticias {
    padding: 0svh 4svw;
  }

  .container__noticias__title {
    font-size: 50px;
  }

  .card__noticia {
    flex-direction: column;
  }

  .image__noticia {
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px 10px 0px 0px !important;
    max-height: 400px;
  }

  .texts__noticia {
    padding: 0svh 4svw;
  }

  .noticia__title {
    font-size: 30px;
    line-height: normal;
  }

  .noticia__paragraph {
    max-width: 100%;
    font-size: 18px;
  }
  .noticia__subtitle {
    font-size: 20px;
  }
  
  .date {
    font-size: 14px;
  }

  .actions__creditos {
    padding-bottom: 2svh;
  }

  /* Footer */
  .container__footer {
    width: 100%;
    position: relative;
    max-height: 500px;
    height: fit-content;
    display: flex;
    flex: 1;
    justify-content: space-between;
    overflow: visible;
    /* deixa a imagem aparecer fora do container */
  }

  .footer__image {
    width: 30svw;
    left: -5svw;
    position: absolute;
    top: 0svh;
    /* ajusta para sair mais ou menos */
    filter: drop-shadow(0px 0px 25px #242424);
    right: 0;
    z-index: -1;
  }

  .footer__texts {
    position: absolute;
    display: flex;
    text-align: flex-start;
    gap: 0;
    flex-direction: column;
    top: 0;
    left: 30svw;
  }

  .footer__title {
    font-family: BigNoodle;
    font-weight: 500;
    font-size: 30px;
  }

  .footer__description {
    max-width: 80%;
    text-wrap: wrap;
  }
}